h1{
	text-align: center;
	margin-top: 7px;
	margin-bottom: 42px;
	padding-bottom: 7px;
	border-bottom: 3px solid rgb(34, 34, 34);
}

select{
	// margin-right: 7px;
}

select, option, input[type="button"]{
	display: block;
	width: 100%;
}


.images{
	position: relative;
	min-height: 300px;
	margin-bottom: 21px;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	&:first-child{
		// position: absolute;
	}
}

.select-wrapper{
	margin-bottom: 30px;
}

