/* line 1, ../sass/layout.scss */
h1 {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 42px;
  padding-bottom: 7px;
  border-bottom: 3px solid #222222;
}

/* line 13, ../sass/layout.scss */
select, option, input[type="button"] {
  display: block;
  width: 100%;
}

/* line 19, ../sass/layout.scss */
.images {
  position: relative;
  min-height: 300px;
  margin-bottom: 21px;
}

/* line 25, ../sass/layout.scss */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* line 35, ../sass/layout.scss */
.select-wrapper {
  margin-bottom: 30px;
}
